body {
    background: #a855f7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

span {
    position: relative;
    font-family: 'cursive', sans-serif;
    top: 20px;
    color: #ffff;
    display: inline-block;
    font-size: 5rem;
    text-shadow: 0 1px 0 #b7b7b7, 
                0 2px 0 #b7b7b7,
                0 3px 0 #b7b7b7,
                0 4px 0 #b7b7b7,
                0 5px 0 #b7b7b7,
                0 6px 0 transparent,
                0 7px 0 transparent,
                0 8px 0 transparent,
                0 9px 0 transparent,
                0 10px 10px rgb(0, 0, 0.5);
    animation: bounce 0.7s ease infinite alternate;
}

h1 span:nth-child(2) {
    animation-delay: 0.1s;
}

h1 span:nth-child(3) {
    animation-delay: 0.2s;
}

h1 span:nth-child(4) {
    animation-delay: 0.3s;
}

h1 span:nth-child(5) {
    animation-delay: 0.4s;
}

h1 span:nth-child(6) {
    animation-delay: 0.5s;
}

h1 span:nth-child(7) {
    animation-delay: 0.6s;
}

h1 span:nth-child(8) {
    animation-delay: 0.7s;
}

@keyframes bounce {
    100% {
        top: -10px;
        text-shadow: 0 1px 0 #ccc,
                    0 2px 0 #ccc,
                    0 3px 0 #ccc,
                    0 4px 0 #ccc,
                    0 5px 0 #ccc,
                    0 6px 0 #ccc,
                    0 7px 0 #ccc,
                    0 8px 0 #ccc,
                    0 9px 0 #ccc,
                    0 10px 0 rgb(0, 0, 0.3);
    }
}