* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}

.loader {
    width: 75px;
    height: 75%;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 75px;
    height: 75px;
    border: 2px solid #ff0909;
    box-shadow: 0 0 20px #f22020;
    position: absolute;
    border-radius: 50%;
    animation: animate 2s linear infinite;
}

.circle::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 18px;
    background: #ff0909;
    box-shadow: 0 0 20px #fc2929, 0 0 60px #d72222;
    border-radius: 50%;
}

@keyframes animate {
    to {
        transform: rotate(0);
    }
    from {
        transform: rotate(-360deg);
    }
}